body
{
  margin: 0;
  background-color: #84BAE8;
}

.menu
{
#88DBD5
}

.menu ul
{
  margin: 0;
  background-color: #8ADDF2;
  list-style: none;
  text-align: center;
}

.menu ul li
{
  display: inline-block;
}

.menu ul li a
{
  padding: 10px 30px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.5em;
}

.menu ul li a:hover
{
  color: #84BAE8;
}

.logo
{
  margin-top: 5px;
  position: relative;
  margin-left: 5px;

}



.imagens
{
  display: flex;
  flex-direction: column;
}

.imagem_rob
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.imagem_jao
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about
{
  position: relative;
  font-family: monospace;
  font-size: 4em;
  text-align: center;
  color: white;
}

.welcome
{
  color: white;
  font-family: monospace;
  font-size: 2.7em;
  text-align: center;
  margin-top: 100px;
}

.txt1
{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 2.2em;
}

.contact
{

  font-family: monospace;
  font-size: 4em;
  text-align: center;
  color: white;
  margin: auto;
}


.msgcc
{
  color: white;
  font-family: monospace;
  margin:auto;
  font-size: 2.2em;
}

.contato2
{

  display:flex;
  justify-content: center;


}

.form
{
  display: flex;
  flex-direction: column;
}

.field
{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: monospace;
  font-size: 15px;
}

.textarea
{
  height: 150px;
}

.formulario
{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 2.2em;
}

.txt3
{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 4em;
}

.txt2
{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 2.2em;
}

.acomp
{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 2.2em;
}

.imagens_portiforio
{
  margin-left: 5px;
}

.h33
{
      margin-left: 300px;
      margin-top: -250px;
      margin-bottom: 200px;
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 2.2em;
}

.h33 > a
{
    color: black;
}

.h34
{
      margin-left: 300px;
      margin-top: -250px;
      margin-bottom: 200px;
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 2.2em;
}

.h34 > a
{
    color: black;
}

.h35
{
      margin-left: 300px;
      margin-top: -250px;
      margin-bottom: 200px;
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 2.2em;
}
 .h35 > a
 {
   color: black;
 }

.rodape
{
  width: 99.8%;
  float: left;
  background-color: #8ADDF2;
  padding: 1px;
  align-items: center;
}

.rodape > p
{
  color: black;
  font-size: 15px;
  font-family: monospace;
}

.rodape h1
{
  margin-bottom: 10px;
  color: black;
  font-size: 15px;
  font-family: monospace;
}

.rodape > a
{
  color: white;
  font-size: 15px;
  font-family: monospace;
}

.rodape > img
{

}

.h36
{
      margin-left: 300px;
      margin-top: -250px;
      margin-bottom: 200px;
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 2.2em;
}

.h36 > a
{
    color: black;
}

.h37
{
      margin-left: 300px;
      margin-top: -250px;
      margin-bottom: 200px;
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 2.2em;
}

.h37 > a
{
    color: black;
}

.h38
{
      margin-left: 300px;
      margin-top: -250px;
      margin-bottom: 200px;
      color: white;
      font-family: monospace;
      text-align: center;
      font-size: 2.2em;
}

.h38 > a
{
    color: black;
}

.centralize
{
  margin: auto;
}

.navbar-nav
{
  color: white;
}
